fastapi
uvicorn
openai
reportlab 
bcrypt==3.2.0
passlib==1.7.4
Flask
Flask-Cors
gunicorn
psycopg2-binary
python-dotenv
pydantic
sqlalchemy
alembic
fastapi-sqlalchemy
fastapi-utils
fastapi-pagination
fastapi-security
fastapi-mail
fastapi-logger          